<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appId</key>
	<string>com.sap.cp.training.shop</string>
	<key>clientId</key>
	<string>aa34f138-ddf0-4fb4-a694-ce1d707e88fc</string>
	<key>serverUrl</key>
	<string>https://hcpms-d041630trial.hanatrial.ondemand.com/com.sap.cp.training.shop</string>
	<key>authUrl</key>
	<string>https://oauthasservices-d041630trial.hanatrial.ondemand.com/oauth2/api/v1/authorize</string>
	<key>tokenUrl</key>
	<string>https://oauthasservices-d041630trial.hanatrial.ondemand.com/oauth2/api/v1/token</string>
	<key>redirectUrl</key>
	<string>https://oauthasservices-d041630trial.hanatrial.ondemand.com</string>
</dict>
</plist>
